---
- name: Install certbot
  apt:
    name: certbot
    state: present
    update_cache: yes

- name: Create webroot for ACME challenges
  file:
    path: /var/www/letsencrypt
    state: directory
    owner: www-data
    group: www-data
    mode: "0755"

- name: Ensure ACME challenge directory exists
  file:
    path: /var/www/letsencrypt/.well-known/acme-challenge
    state: directory
    owner: www-data
    group: www-data
    mode: "0755"

- name: Validate nginx config before cert request
  command: nginx -t
  changed_when: false

- name: Ensure nginx is running (need for HTTP-01)
  service:
    name: nginx
    state: started
    enabled: yes

- name: Check if certificate already exists
  stat:
    path: "/etc/letsencrypt/live/{{ lb_domain }}/fullchain.pem"
  register: le_cert

- name: Re-check certificate state
  stat:
    path: "/etc/letsencrypt/live/{{ lb_domain }}/fullchain.pem"
  register: le_cert_after


- name: Deploy HTTPS nginx config (when cert exists)
  template:
    src: nginx_lb_https.conf.j2
    dest: /etc/nginx/sites-available/load_balancer.conf
    mode: '0644'
  when: le_cert_after.stat.exists
  notify: Restart nginx

- name: Validate nginx config after HTTPS template
  command: nginx -t
  changed_when: false
