---
- name: Create consul user
  user:
    name: "{{ consul_user }}"
    system: yes
    shell: /bin/false

- name: Create consul directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
    mode: '0755'
  loop:
    - "{{ consul_config_dir }}"
    - "{{ consul_data_dir }}"

- name: Deploy Consul server config
  template:
    src: server_consul.hcl.j2
    dest: "{{ consul_config_dir }}/consul.hcl"
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
    mode: '0644' #owner - r+w, group/other - r
  when: consul_mode == "server"
  notify: restart consul

- name: Deploy Consul client config
  template:
    src: client_consul.hcl.j2
    dest: "{{ consul_config_dir }}/consul.hcl"
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
    mode: '0644'
  when: consul_mode == "client"
  notify: restart consul

- name: Enable and start Consul service
  systemd:
    name: consul
    enabled: yes
    state: started
    daemon_reload: yes