{
  "service": {
    "name": "postgres-service",
    "id": "postgres-{{ inventory_hostname }}",
    "address": "{{ private_ip_address }}",
    "port": 5432,
    "tags": ["database", "postgresql"],
    "checks": [
      {
        "tcp": "localhost:5432",
        "interval": "10s",
        "timeout": "2s"
      }
    ]
  }
}
