[Unit]
Description=App Service
After=network.target

[Service]
Environment=FLASK_SECRET_KEY={{ flask_secret_key }}
Environment=DATABASE_URL={{ database_url }}
Environment=AWS_REGION={{ aws_region }}
Environment=S3_BUCKET_NAME={{ s3_bucket_name }}

User=ansible_user
WorkingDirectory={{ app_dest }}
ExecStart={{ app_dest }}/venv/bin/python3 {{ app_dest }}/run.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target