{
  "service": {
    "name": "flask-app",
    "id": "web-{{ inventory_hostname }}",
    "address": "{{ private_ip_address }}",
    "port": 5000,
    "tags": ["flask", "web"],
    "checks": [
      {
        "http": "http://{{ private_ip_address }}:5000/",
        "method": "GET",
        "interval": "10s",
        "timeout": "2s"
      }
    ]
  }
}