{
  "service": {
    "name": "flask-app",
    "id": "web-{{ inventory_hostname }}",
    "address": "{{ ansible_facts['default_ipv4']['address'] }}",
    "port": 5000,
    "tags": ["flask", "web"],
    "checks": [
      {
        "http": "http://{{ ansible_facts['eth1']['ipv4']['address'] }}:5000/health",
        "method": "GET",
        "interval": "10s",
        "timeout": "2s"
      }
    ]
  }
}