---
- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Restart dnsmasq
  systemd:
    name: dnsmasq
    state: restarted    

- name: Restart consul
  systemd:
    name: consul
    state: restarted