server {
    listen 80;
    server_name {{ lb_domain }};

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/letsencrypt;
        try_files $uri =404;
        default_type "text/plain";
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

