{
  "service": {
    "name": "nginx-lb",
    "id": "nginx-{{ inventory_hostname }}",
    "address": "{{ private_ip_address  }}",
    "port": 80,
    "tags": ["nginx", "load-balancer"],
    "checks": [
      {
        "http": "http://{{ private_ip_address  }}:80",
        "interval": "10s",
        "timeout": "2s"
      }
    ]
  }
}
