node_name  = "{{ inventory_hostname }}"
server     = false
datacenter = "{{ consul_datacenter }}"
data_dir   = "{{ consul_data_dir }}"

bind_addr      = "{{ ansible_facts['eth1']['ipv4']['address'] }}"
client_addr    = "127.0.0.1"
advertise_addr = "{{ ansible_facts['eth1']['ipv4']['address'] }}"

retry_join = ["{{ consul_server_ip }}"]

encrypt = "{{ consul_gossip_key }}"

ports {
  http = 8500
  dns  = 8600
}

log_level = "INFO"