- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Restart app
  systemd:
    name: app
    state: restarted

- name: Restart consul
  systemd:
    name: consul
    state: restarted
    daemon_reload: yes