---
- name: Setup Consul Server
  hosts: consul
  become: yes
  roles:
    - role: consul
      vars:
        consul_mode: server
        
- name: Configure db
  hosts: db
  become: yes
  roles:
    - db

- name: Configure app
  hosts: app
  become: yes
  roles:
    - app

- name: Configure lb
  hosts: lb
  become: yes
  roles:
    - lb
