---
- name: Configure Consul Server
  hosts: consul
  become: yes
  roles:
    - role: consul
      vars:
        consul_mode: server

- name: Configure db
  hosts: db
  become: yes
  roles:
    - role: consul
      vars:
        consul_mode: client
    - db

- name: Configure app
  hosts: app
  become: yes
  roles:
    - role: consul
      vars:
        consul_mode: client
    - app

- name: Configure lb
  hosts: lb
  become: yes
  roles:
    - role: consul
      vars:
        consul_mode: client
    - lb