name: Lint and Format Check
on:
  pull_request:
  push:

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run markdownlint
        id: markdownlint
        uses: nosborn/github-action-markdown-cli@v3.5.0
        continue-on-error: true
        with:
          files: .
          dot: true

      - name: Run Prettier
        id: prettier
        uses: creyD/prettier_action@v4.6
        continue-on-error: true
        with:
          dry: true
          prettier_options: --check .

      - name: Run CSpell
        id: cspell
        uses: streetsidesoftware/cspell-action@v8.2.0
        continue-on-error: true
        with:
          strict: false

      - name: Run npm-groovy-lint
        id: groovylint
        continue-on-error: true
        run: |
          npm install -g npm-groovy-lint
          npm-groovy-lint . || true

      - name: Run yamllint
        id: yamllint
        uses: karancode/yamllint-github-action@master
        continue-on-error: true
        with:
          yamllint_file_or_dir: '.'
          yamllint_strict: false
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          

      ## temporal disable the Gitleaks Action, currently using pre-commit instead
      # - name: Run Gitleaks
      #   id: gitleaks
      #   uses: gitleaks/gitleaks-action@v2
      #   continue-on-error: true
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE}}


      - name: Check Linting Results
        if: always()
        run: |
          echo "## Linting Results Summary " >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY

          failed=0
          warned=0
          passed=0

          if [ "${{ steps.markdownlint.outcome }}" != "success" ]; then
            echo "Markdownlint: FAILED. Please check its warnings!" >> $GITHUB_STEP_SUMMARY
            warned=$((warned + 1))
          else
            echo "Markdownlint: PASSED" >> $GITHUB_STEP_SUMMARY
            passed=$((passed + 1))
          fi

          if [ "${{ steps.prettier.outcome }}" != "success" ]; then
            echo "Prettier: FAILED. Please check its warnings!" >> $GITHUB_STEP_SUMMARY
            warned=$((warned + 1))
          else
            echo "Prettier: PASSED" >> $GITHUB_STEP_SUMMARY
            passed=$((passed + 1))
          fi

          if [ "${{ steps.cspell.outcome }}" != "success" ]; then
            echo "CSpell: FAILED. Please check its warnings!" >> $GITHUB_STEP_SUMMARY
            warned=$((warned + 1))
          else
            echo "CSpell: PASSED" >> $GITHUB_STEP_SUMMARY
            passed=$((passed + 1))
          fi

          if [ "${{ steps.groovylint.outcome }}" != "success" ]; then
            echo "npm-groovy-lint: FAILED. Please check its warnings!" >> $GITHUB_STEP_SUMMARY
            warned=$((warned + 1))
          else
            echo "npm-groovy-lint: PASSED" >> $GITHUB_STEP_SUMMARY
            passed=$((passed + 1))
          fi

          if [ "${{ steps.yamllint.outcome }}" != "success" ]; then
            echo "yamllint: FAILED. Please check its warnings!" >> $GITHUB_STEP_SUMMARY
            warned=$((warned + 1))
          else
            echo "yamllint: PASSED" >> $GITHUB_STEP_SUMMARY
            passed=$((passed + 1))
          fi

          # if [ "${{ steps.gitleaks.outcome }}" != "success" ]; then
          #   echo "Gitleaks: FAILED !!!" >> $GITHUB_STEP_SUMMARY
          #   failed=$((failed + 1))
          # else
          #   echo "Gitleaks: PASSED" >> $GITHUB_STEP_SUMMARY
          #   passed=$((passed + 1))
          # fi
          

          echo "" >> $GITHUB_STEP_SUMMARY
          total_failed=$((failed + warned))
          echo "**Total: $passed passed, $total_failed failed**" >> $GITHUB_STEP_SUMMARY

          if [ $failed -gt 0 ]; then
            echo "" >> $GITHUB_STEP_SUMMARY
            echo "**If you see any **Failed** results, please fix the linting and formatting issues above.**" >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
